* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #ffffff;
    color: #000000;
    padding: 40px;
}

header {
    background-color: #ffffff;
    color: #8c2222;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    width: 130px;
    height: 130px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #8c2222;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3a0f0f;
    text-decoration: underline;
}

/* Section Title */
.title-section {
    background-color: #8c2222;
    color: #ffffff;
    padding: 20px 5px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
}

.highlight {
    font-weight: bold;
}

/* Main Content Area */
.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.text-div {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: #333;
}

.text-div:hover {
    transform: translateY(-7px);
}

/* Footer */
footer {
    color: #ffffff;
    text-align: center;
    background-color: #551414;
    padding: 20px 10px;
    margin-top: 30px;
}

footer .listinha {
    list-style: none;
    margin-bottom: 10px;
}

footer .listinha li {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

footer .loguinhos img {
    height: 50px;
}

.ultimo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Button IA */
.botao-ia {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #551414;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.botao-ia:hover {
    background-color: rgb(201, 189, 189);
}

.botao-imagem {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }
    .nav-links li {
        margin: 10px 0;
    }

    .about-container {
        padding: 0;
    }

    .text-div {
        width: 100%;
    }
}

/* Estilos para as imagens entre os textos */
.image-between-text {
    width: 800px;
    height: 350px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
}
